<IfModule mod_rewrite.c>
# Activar rewrite
RewriteEngine on
#ErrorDocument 404 http://192.168.1.45/erpc/
ErrorDocument 404 http://localhost/erpc/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f


RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
# RewriteRule ^(.*)/(.*) mod/financiera/index.php?controller=$1&action=$2

</IfModule>

